@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");

.bx {
    font-size: 24px;
}

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #1B7CC2;
    /* --first-color-light: #fff; */
    --white-color: #fff;
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

body {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {}


.main-layout {
    width: 100vw;
    height: 100vh;
    background: var(--first-color);
    position: relative;
    display: flex;
    align-items: center;
    float: right;
    overflow: hidden;
}

.side-bar {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 10%; */
    height: inherit;
    background-color: var(--first-color);
    color: var(--white-color);
}

.main-container {
    position: absolute;
    right: 0;
    height: calc(100vh - 16px);
    width: calc(100vw - 75px);
    border-radius: 12px;
    background: #FFF;
    flex-grow: 0.9;
    margin: 36px 8px 36px 0;
    padding: 12px;
    transition: all 0.5s ease;
    /* display: flex; */
    justify-content: start;
    z-index: 1;
    @media screen and (max-width: 425px) {
        width: calc(100vw - 15px);
    }
    transition: all 0.5s ease-in-out;
}

.side-bar.expand+.main-container {
    width: calc(100vw - 330px);

    @media screen and (max-width: 425px) {
        right: -85px;
    }  
}

.side-bar.expand+.main-container .toggle-btn {
    @media screen and (max-width: 425px) and (min-width: 376px) {
        left: -30px;
    } 

    @media screen and (max-width: 375px) {
        left: -80px;
    }
}

.side-bar.expand+.main-container>div {
    @media screen and (max-width: 425px) {
        display: none;
    }
}


.toggle-btn {
    position: absolute;
    left: -1.5%;
    top: 1%;
    border-radius: 50%;
    /* padding: 4px 8px; */
    text-align: center;
    line-height: 48px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: var(--white-color);
    box-sizing: border-box;
    z-index: 2;
}

.notification-btn {
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 50%;
    /* padding: 4px 8px; */
    text-align: center;
    line-height: 42px;
    width: 40px;
    height: 40px;
    box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: var(--first-color);
    color: #FFF;
    box-sizing: border-box;
    z-index: 2;
    display: inline-block;
    align-items: center;
}

.btn-toggle {
    display: flex;
    align-items: center;
    /* position: relative; */
}
.btn-toggle::after {
    color: var(--white-color);
    margin-left: 8px;
    margin-top: 4px;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    display: inline-block;
    /* position: absolute;
    right: -100%; */
}

.btn-toggle[aria-expanded="true"] {
    /* color: rgba(0, 0, 0, .85); */
    color: var(--white-color);
}

.btn-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
}

.btn-toggle-nav>li {
    margin: 0;
    padding: 6px 8px;
}

.group-menu {
    height: calc(100vh - 60px);
    overflow: auto;
}

a.group-menu-item {
    color: var(--white-color);
    text-decoration: none;
    padding: 0;
    /* margin: 8px 0; */
    /* white-space: nowrap; */
    display: inline-flex;
    justify-content: start;
}
.group-menu-items {
    margin-left: 16px;
    margin-top: 4px;
    /* padding: 0 8px; */
    display: none;
}

.side-bar.expand>.group-menu-item:hover {
   
}

.group-menu-items>.btn-toggle {
    padding: 0 8px;
}

.side-bar.expand .group-menu-items {
    display: block;
    font-weight: 500;
    /* font-size: 14px; */
}

.side-bar.expand>.group-menu>.active {
    background-color: var(--white-color);
    color: var(--first-color);
    border-radius: 12px;
    padding: 6px 8px;
}

.side-bar.expand>.group-menu>.active>i {
    padding: 0;
}

.side-bar:not(.side-bar.expand) .user-functions {
    position: absolute;
    bottom: 52px;
    left: -4px;
    display: flex;
    flex-direction: column-reverse;
    transition: all 0.5s ease;
}

.side-bar>.group-menu>.active {
   background: transparent;
}

.side-bar>.group-menu>.active>i {
    background: var(--white-color);
    border-radius: 12px;
    padding: 6px 8px;
    color: var(--first-color);
}

.menu-item-active {
    background-color: var(--white-color);
    color: var(--first-color);
    border-radius: 12px;
    padding: 6px 8px;
}

.menu-item-active>.group-menu-item {
    color: var(--first-color);
}

a.group-menu-item {
    padding: 0 8px;

}

.group-menu-items ul li:not(.group-menu-items):hover {
    background-color: var(--white-color);
    color: var(--first-color) !important;
    border-radius: 12px;
    /* padding: 6px 8px; */
}

.group-menu-items ul li:not(.group-menu-items):hover a { 
    color: var(--first-color) !important;
}

.menu-item-active {
    color: var(--first-color) !important;
}